@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

:root{
  --Bright-orange: hsl(31, 77%, 52%);
  --Dark-cyan: hsl(184, 100%, 22%);
  --Very-dark-cyan: hsl(179, 100%, 13%);

  --Transparent-white: hsla(0, 0%, 100%, 0.75);
  --Very-light-gray: hsl(0, 0%, 95%);

  --font-style-paragraph: 'Lexend Deca', sans-serif;
  --font-style-headlines: 'Big Shoulders Display', sans-serif;

  --font-size: 15px;

}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  background: var(--Very-light-gray);
  color: var(--Transparent-white);
  font-size: var(--font-size);
}

@media screen and (max-width: 440px) {
  body {
    padding: 0 1rem;
  }
}